@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}

.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #fb2274;
    color: #fb2274;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}
.main_container{
	position: relative;
}

/* Navigation Bar */
.navbar{
	width: 100%;
	height: 70px;
	position: absolute;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background:#070707;
    box-shadow: 0 3px 20px rgba(black, 0.2);
}

.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #5b6d9f;
}
.navbar_items ul{
	display: flex;
}

.navbar_items ul li{
	margin: 0 10px;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: #fff;
}
/* banner_image */
.banner_image{
	background: url('../images/teslacover.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: #fff;
}
.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 15px;
}

.banner_content h1 span{
	color: #fb2274;
}

/* About */

/* The contact form of electric vehicles */
.contact-form{
  width: 85%;
  max-height: 900px;
  max-width: 1040px;
  background: #f1f1f1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}
.section {
  display: grid;
  grid: auto / repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 1em;
  background: #C0C0C0;
  padding: 7em 4em;
}

.imageItem {
  position: relative;
  flex-basis: 30%;
  margin: 0;
  padding: 0;
  border-radius: 0.8em;
  background: white;
}
.imageDesc {
  padding: 1.5em;
}
.imageTitle {
  font-family: 'Roboto Condensed', sans-srif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
}

.imageCollection{
  width: 100%;
  display: block;
}

.lightbox_Images{
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 470px;
}

.gallery-lightbox {     /* Displays a new image frame when the more info button is pressed, this style expands the new image frame   */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0,1); 
  transition: transform 150ms ease-in-out;
  transform-origin: right; 
  padding: 2em;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, .7);
  // box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .25);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.gallery-lightbox:target {
  transform: scale(1,1);
  transform-origin: left; 
}
.image-lightbox {
  margin-top: 32px;
  width: 80%;
  padding: 0.5em;
  background: black;
  position: relative;
}
/* CSS property for the close button on the image gallery */
.close {
  position: absolute;
  right: -1em;
  top: -0.5em;
  border: white 2px solid;
  display: flex;
  width: 2em;
  height: 2em;
  background: red;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.close::after {
  content: 'x';
  color: white;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #66b3ff;
  padding: .5em 1.25em;
  border-radius: 5px;
}
.button:hover{
  background: #0066cc;
  cursor: pointer;
}
@media (max-width: 720px){

    .navbar{
        height: auto;
        flex-direction: column;
    }

    .logo{
        margin-bottom: 25px;
    }

    .navbar_items ul{
        flex-direction: column;
        text-align: center;
    }

    .navbar_items ul li{
        margin-bottom:5px;
    }

    .banner_content{
        margin-top: 35px;
    }
}
/* footer of electric vehicles */
.footer{
    width: 100%;
    text-align: center;
    background: #444444;
    padding: 20px 0;
    height: 15vh;
}
.footer a{
    color: #fff;
    font-size:1.2em;
}